{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'libs/w3css/w3.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container top col-md-12">
			<div class="col-md-12">
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <a class="navbar-brand" href="#">
				        <img alt="Brand" src="...">
				      </a>
				    </div>
				    <ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><small>En </small><span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="#"><small>En</small></a></li>
				            <li><a href="#"><small>Ukr</small></a></li>
				          </ul>
				        </li>
				        <li class="_signin"><a href="#"><small>sign in </small><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
				    </ul>
				  </div>
				</nav>
			</div>
			{% block signin_window %}
			<!-- Small modal -->
			<div class="modal fade bs-example-modal-sm _signin_wnd" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
					<form class="w3-container">
					  <div class="w3-group">
					    <input class="w3-input" type="text" name="login" required>
					    <label class="w3-label w3-text-dark-grey">Login/Email</label>
					  </div>
					  <div class="w3-group">
					    <input class="w3-input" type="text" name="password" required>
					    <label class="w3-label w3-text-dark-grey">Password</label>
					  </div>
					  <button type="button" class="btn btn-link">didn't register?</button>
					  <div class="modal-footer">
					  	<button class="w3-btn" type="submit">Sign in</button>
					  </div>
					</form>
			    </div>
			  </div>
			</div><!-- signin modal window -->
			{% endblock %}
			<div class="col-md-8 col-md-offset-2">
				<ul class="nav nav-pills nav-justified hsMenu">
					<li role="presentation" class="active"><a href="/">Home</a></li>
					<li role="presentation"><a href="/about">About</a></li>
					<li role="presentation"><a href="/admin">Admin</a></li>
				</ul>
			</div>
			<div class="col-md-12">
				
					{% block breadcrumb %}{% endblock %}
				
			</div>
		</div>
		<div class="container main_content col-md-8 col-md-offset-2">
			{% block content %}{% endblock %}
		</div>
		<div class="container bottom">
			<div class="col-md-8 col-md-offset-2 text-center"><small>Powered by Django 2015</small></div>
		</div>
		<script src="{% static 'libs/jquery-1.11.3.min.js' %}"></script>
		<script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'javascript/main.js' %}"></script>
		<script src="{% static 'javascript/for_all_pages.js' %}"></script>
		{% block extrascripts %}{% endblock %}
	</body>
</html>